body {
    text-rendering: unset !important
}
.wrap {
    width: 100%;
    font-family: "SamsungOneKR", "Roboto", "맑은 고딕", "Malgun Gothic", "굴림";
    font-weight: 400;
    line-height: 1.158;
    color: #000;
    
}
main {
    position: relative;
    * {
        box-sizing: border-box;
    }
}

button, .clsbtn_r {
    &:focus {
        outline: 1px solid #fff;
        border: 1px solid #000;
    }
}

.btn {
    display: inline-block;
    &--search {
        width: 24px;
        height: 24px;
        background: url("../images/main/icon_search.svg") center / auto no-repeat;
        font-size: 0;
    }
    &--allmenu {
        width: 24px;
        height: 24px;
        background: url("../images/main/icon_allmenu.svg") center / auto no-repeat;
        font-size: 0;
    } 
}

.header {
    overflow: visible;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    z-index: 2;
    * {
        box-sizing: border-box;
    }

    .clear {
        display: flex;
        justify-content: space-between;
        .system_ui {
            position: relative;
            width: auto;
            .navBtn {
                width: 20px;
                height: 20px;
                background: url("../images/main/icon_allmenu.svg") center / auto no-repeat;
            }
            .schBtn {
                width: 20px;
                height: 20px;
            }
        }
        .gnb {
            .cls_gnb {
                left: auto;
                right: 25px;
            }
        }
    }

    &__inner {
        display: flex;
        padding: 13px 20px;
        justify-content: space-between;
        align-items: center;
        h1 {
            font-size: 0;
            a {
                display: block;
                img {
                    height: 19px;
                }
            }
        }
    }
}

.gnb {
    &__list {
        display: flex;
        > li {
            position: relative;
            > a {
                display: block;
                padding: 0 30px;
                line-height: 100px;
                font-size: 18px;
                font-weight: 700;
                color: #fff;
                transition: 0.16s ease;
            }
            &.active {
                > a {
                    color: #1428A0;
                }
                .depth2 {
                    opacity: 1;
                    visibility: visible;
                }
            }
        }
        .depth2 {
            opacity: 0;
            visibility: hidden;
            position: absolute;
            left: 50%;
            top: 80px;
            min-width: 140px;
            width: 100%;
            padding: 20px;
            transform: translateX(-50%);
            background-color: #fff;
            transition: all 0.16s ease;
            
            ul {
                li {
                    margin-top: 12px;
                    &:first-child {
                        margin-top: 0;
                    }
                    a {
                        display: block;
                        text-align: center;
                        font-size: 16px;
                        font-weight: 500;
                        color: #1a1a1a;
                        .fw400 {
                            font-weight: 400;
                        }
                    }
                }
            }
        }
    }
}

.right-box {
    display: flex;
    gap: 40px;
    font-size: 16px;
    font-weight: 500;
    color: #fff;
    .user {
        display: flex;
        gap: 20px;
    }
    .util {
        display: flex;
        gap: 20px;
    }
}


.main-kv {
    position: relative;
    &__slider {
        position: absolute;
        top: 0; 
        left: 0;
        width: 100%;
        height: 100%;
        .slick-list {
            height: 100%;
        }
        .slick-track {
            height: 100%;
            transition-timing-function: cubic-bezier(0.83, 0, 0.17, 1) !important;
        }
        .slick-slide {
            width: 100%;
            height: 100%;
            > div {
                width: 100%;
                height: 100%;
            }
        }
    }
    &__slide {
        position: relative;
        height: 100%;
        img {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: center;
        }
    }
    &__top {
        position: relative;
    }
    &__left {
        width: 100%;
        height: 540px;
        padding: 50px 0 22px 0;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    &__count {
        padding: 30px 20px 0;
        ul {
            display: flex;
            li {
                position: relative;
                margin-left: 30px;
                padding-left: 30px;
                &::before {
                    content:'';
                    position: absolute;
                    top: 0px;
                    left: 0;                    
                    display: inline-block;
                    width: 1px; 
                    height: 48px;
                    background-color: #fff;
                } 
                &:first-child {
                    margin-left: 0;
                    padding-left: 0;
                    &::before {
                        display: none;
                    }
                    b {
                        width: 57px;
                    }
                }
                &:last-child {
                    b {
                        width: 93px;
                    }
                }
            }
        }
        span {
            font-size: 14px;
            font-weight: 600;
            color: #fff;
            vertical-align: text-bottom;
            &:first-child {
                display: block;
                margin-bottom: 5px;
            }
        }
        b {
            display: inline-block;
            padding-right: 12px;
            font-family: "Roboto";
            font-size: 26px;
            font-weight: 600;
            color: #1428A0;
            text-align: right;
        }
    }
    &__text {
        position: absolute;
        left: 0;
        width: 100%;
        bottom: 72px;
        padding: 0 20px;
    }
    &__white {
        font-size: 24px;
        font-weight: 700;
        color: #fff;
    }
    &__blue {
        font-family: "Roboto";
        font-size:  42px;
        font-weight: 700;
        color: #1428A0;
    }
    &__inner {
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        z-index: 1;
    }
    &__control {
        position: relative;
        width: 100%;
        padding: 0 20px;
        display: flex;
        align-items: center;
    }
}
.swiper-slide img {
    image-rendering: -webkit-optimize-contrast; /* 웹킷 브라우저 */
    image-rendering: crisp-edges; /* 크롬, 파이어폭스 등 */
    image-rendering: pixelated; /* 최신 브라우저 */
}
.swiper-slide {
    transform: translate3d(0, 0, 0);
    backface-visibility: hidden;
    will-change: transform;
}
.progress {
    display: flex;
    align-items: center;
    font-family: "Roboto";
    font-size: 12px;
    color: #fff;
    &__first {line-height: 1;}
    &__bg {
        position: relative;
        display: inline-block;
        width: 60px;
        height: 1px;
        background-color: #fff;
        vertical-align: middle;
        margin: 0 10px;
    }
    &__bar {
        display: inline-block;
        height: 1px;
        background-color: #1428A0;
        transition: 0.16s ease;
    }
    &__last {line-height: 1;}
}

.kv-nav {
    display: flex;
    align-items: center;
    margin-left: 10px;
    gap: 10px;
    ul {
        display: flex;
        align-items: center;
        gap: 5px;
        li {
            font-size: 0;
        }
    }
    &__button {
        display: inline-block;
        width: 20px;
        height: 20px;
        font-size: 0;
        &--prev {
            background: url("../images/main/icon_prev.svg") center / auto no-repeat;
        }
        &--next {
            background: url("../images/main/icon_next.svg") center / auto no-repeat;
        }
        &--pause {
            background: url("../images/main/icon_pause.svg") center / auto no-repeat;
        }
    }
}

.side-nav {
    &__title {
        display: flex;
        flex: 1 0 auto;
        align-items: center;
        font-size: 12px;
        font-weight: 500;
        color: #fff;
    }
    &__menu {
        ul {
            display: flex;
        }
    }
    &__info {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 30px;
        width: 100%;
        padding: 25px 30px;
        border-bottom: 1px solid #1428A0;
        background-color: #0D1D7C;
        transition: all 0.16s ease-in-out;
        &--arrow {
            flex: 1;
            flex-basis: 33.3333%;
            padding: 0;
            border-right: 1px solid #1428A0;
            &:last-child {
                border-right: 0;
            }
            .side-nav__title {
                position: relative;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                transition: all 0.16s ease-in-out;
                &::before {
                    content:'';
                    display: inline-block;
                    width: 30px;
                    height: 30px;
                    margin-bottom: 10px;
                    transition: 0.16s ease-in-out;
                }
                &--01 {
                    &::before {
                        background: url("../images/main/icon_book.svg") left center / auto no-repeat;
                    }
                }
                &--02 {
                    &::before {
                        background: url("../images/main/icon_lab.svg") left center / auto no-repeat;
                    }
                }
                &--03 {
                    &::before {
                        background: url("../images/main/icon_cap.svg") left center / auto no-repeat;
                    }
                }
            }
            a {
                display: flex;
                width: 100%;
                flex-direction: column;
                padding: 28px 0;
            }
            &:hover {
                background-color: #1428A0;
            }
        }
    }

    &__arrow {
        display: none;
    }

    &__project {
        width: 100%;
        ul {
            display: flex;
            width: 100%;
            gap: 8px;
            li {
                width: 100%;
                &_first-child {
                    margin-top: 0;
                }
                a {
                    display: block;
                    font-family: "Roboto";
                    font-size: 12px;
                    line-height: 30px;
                    font-weight: 400;
                    background-color: #1428A0;
                    text-align: center;
                    color: #fff;
                }
            }
        }
    }

    &__notice {
        display: flex;
        width: 100%;
    }
    &__figure {
        display: none;
    }

    &__text {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    &__tit {
        width: 100%;
        font-size: 12px;
        font-weight: 400;
        color: #fff;
        word-break: keep-all;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 1;
        -webkit-box-orient: vertical;
    }
    &__date {
        flex: 1 0 auto;
        font-size: 14px;
        font-weight: 500;
        color: #6270C6;
    }
}

.footer {
    height: auto;
    background-color: #1A1A1A;
    * {
        box-sizing: border-box;
    }
    &__inner {
        width: 100%;
        padding: 0 20px;
    }
    &__top {
        padding: 20px 0;
        border-bottom: 1px solid #333;
    }

    &__etc {
        ul {
            li {
                display: inline-block;
                position: relative;
                padding: 5px 0;
                padding-right: 10px;
                &:first-child {
                    padding-left: 0;
                }
                &:last-child {
                    padding-right: 0
                }
                a {
                    display: block;
                    font-size: 14px;
                    font-weight: 500;
                    color: #fff;
                }
            }
        }
    }
    &__middle {
        padding: 40px 0;
        .footer__inner {
            display: flex;
            flex-direction: column;
        }
    }
    
    &__left {
        display: flex;
        flex-direction: column;
        gap: 15px;
        > .footer__tit {
            font-size: 16px;
            font-weight: 500;
        }
    }
    &__tit {
        font-size: 14px;
        font-weight: 400;
        color: #fff;
        span {
            font-family: "Roboto"
        }
    }

    
    &__nav {
        > ul {
            display: flex;
            flex-direction: column;
            gap: 15px;
        }
    }
    &__list {
        margin-top: 5px;
        > li {
            display: inline-block;
            font-size: 14px;
            font-weight: 300;
            color: #fff;
            span {
                display: inline-block;
                font-family: "Roboto";
                font-weight: 100;
                line-height: 1;
                vertical-align: unset;
            }
            &:first-child {
                margin-right: 10px;
            }
            >ul {
                li {
                    display: inline-block;
                    position: relative;
                    padding: 5px 0;
                    padding-right: 5px;
                    span {
                        padding-left: 5px;
                    }
                    &:first-child {
                        padding-left: 0;
                    }
                    &:last-child {
                        padding-right: 0;
                    }

                    
                }
            }
        }        
    }
    &__bottom {
        padding-bottom: 20px;
    }
    &__copyright {
        font-size: 14px;
        font-weight: 100;
        color: #fff;
    }

    &__right {
        margin-top: 40px;
    }
}

.family-site {
    position: relative;
    max-width: 265px;
    width: 100%;
    padding-bottom: 10px;
    border-bottom: 1px solid #fff;
    button {
        position: relative;
        width: 100%;
        font-size: 14px;
        font-weight: 500;
        line-height: 1;
        color: #fff;
        text-align: left;
        padding-right: 20px;
        &::before {
            content:'';
            position: absolute;
            top: 50%;
            right: 0;
            display: inline-block;
            width: 16px;
            height: 16px;
            background: url("../images/main/icon_prev.svg") right center / auto no-repeat;
            transform: translateY(-50%) rotate(90deg);
            transition: 0.16s ease;
        }
    }
    &.active {
        button {
            &::before {
                transform: translateY(-50%) rotate(-85deg);
            }
        }
    }
    ul {
        position: absolute;
        display: none;
        bottom: 40px;
        width: 100%;
        padding: 10px;
        background-color: #fff;
        li {
            a {
                display: block;
                padding: 10px 0;
                border-bottom: 1px solid #ddd;
                color: #333;
                word-break: keep-all;
                overflow: hidden;
                text-overflow: ellipsis;
                display: -webkit-box;
                -webkit-line-clamp: 1;
                -webkit-box-orient: vertical;
            }
            &:last-child {
                a {
                    border-bottom: 0;
                }
            }
        }
    }
}

@media (min-width: 750px) {
	.cm_search_wrap > .inner {
		zoom: 1;
	}
	
	.header {
		zoom: 1;
	}
	
	.wrapper_inner.sub {
		zoom: 1;
	}
	
	.wrapper_inner.sub.prg {
		zoom: 1;
	}	
	
	.wrapper_inner.sub.prg 	.mCustomScrollbar {
		zoom: 1;
	}
	
	#footer,
	.topbtn {
		zoom: 1;
	}


}

.header {
    
}

.gnb {
    &_scr {
        ul{
            &.gnbgroup {
                li {
                    > a {line-height: 1;}
                }
            }
        }
    }
} 