<!DOCTYPE html>
<html lang="ko">
    <%- include('./include/head.html') %>
    <body>
        <div class="wrap">
            <div class="container">
                <%- include('./include/header.html') %>
                <main>
                    <div class="main-kv">
                        <div class="main-kv__top">
                            <div class="main-kv__slider">
                                <div class="main-kv__slide">
                                    <img src="../resources/assets/mobile/images/main/kv.png" alt="" />
                                    <div class="main-kv__text">
                                        <div class="main-kv__white">함께가요 미래로!</div>
                                        <div class="main-kv__blue">Enabling People</div>
                                    </div>
                                </div>
                                <div class="main-kv__slide">
                                    <img src="../resources/assets/mobile/images/main/kv.png" alt="" />
                                    <div class="main-kv__text">
                                        <div class="main-kv__white">함께가요 미래로!</div>
                                        <div class="main-kv__blue">Enabling People</div>
                                    </div>
                                </div>
                                <div class="main-kv__slide">
                                    <img src="../resources/assets/mobile/images/main/kv.png" alt="" />
                                    <div class="main-kv__text">
                                        <div class="main-kv__white">함께가요 미래로!</div>
                                        <div class="main-kv__blue">Enabling People</div>
                                    </div>
                                </div>
                                <div class="main-kv__slide">
                                    <img src="../resources/assets/mobile/images/main/kv.png" alt="" />
                                    <div class="main-kv__text">
                                        <div class="main-kv__white">함께가요 미래로!</div>
                                        <div class="main-kv__blue">Enabling People</div>
                                    </div>
                                </div>
                            </div>
                            <div class="main-kv__left">
                                <div class="main-kv__count">
                                    <ul>
                                        <li><span>연구과제</span><b class="cntc counter-value" data-count="785">0</b><span>건</span></li>
                                        <li><span>연구비</span><b class="cntc counter-value" data-count="10299">0</b><span>억원</span></li>
                                    </ul>
                                </div>
                                <div class="main-kv__control">
                                    <div class="progress">
                                        <span class="progress__first"></span>
                                        <span class="progress__bg">
                                            <span class="progress__bar"></span>
                                        </span>
                                        <span class="progress__last"></span>
                                    </div>
                                    <div class="kv-nav">
                                        <ul>
                                            <li><button type="button" class="kv-nav__button kv-nav__button--prev">이전</button></li>
                                            <li><button type="button" class="kv-nav__button kv-nav__button--next">다음</button></li>
                                        </ul>
                                        <button type="button" class="kv-nav__button kv-nav__button--pause">정지</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="main-kv__inner">
                            <aside class="side-nav">
                                <nav class="side-nav__menu">
                                    <ul>
                                        <li class="side-nav__info side-nav__info--arrow">
                                            <a href="javascript:;">
                                                <span class="side-nav__title side-nav__title--01">사업소개</span>
                                                <span class="side-nav__arrow"></span>
                                            </a>
                                        </li>
                                        <li class="side-nav__info side-nav__info--arrow">
                                            <a href="javascript:;">
                                                <span class="side-nav__title side-nav__title--02">인사말</span>
                                                <span class="side-nav__arrow"></span>
                                            </a>
                                        </li>
                                        <li class="side-nav__info side-nav__info--arrow">
                                            <a href="javascript:;">
                                                <span class="side-nav__title side-nav__title--03">과제&middot;연구자</span>
                                                <span class="side-nav__arrow"></span>
                                            </a>
                                        </li>
                                    </ul>
                                </nav>
                                <div class="side-nav__info">
                                    <div class="side-nav__title">과제응모</div>
                                    <div class="side-nav__project">
                                        <ul>
                                            <li>
                                                <a href="https://www.samsungstf.org:441/main/login/openLogin.do" target="_blank">Science</a>
                                            </li>
                                            <li>
                                                <a href="https://www.samsungstf.org:442/main/login/openLogin.do" target="_blank">Technology</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="side-nav__info">
                                    <div class="side-nav__title">공지사항</div>
                                    <a href="javascript:;" class="side-nav__notice">
                                        <div class="side-nav__figure">
                                            <img src="../resources/assets/images/main/notice.png" alt="" />
                                        </div>
                                        <div class="side-nav__text">
                                            <div class="side-nav__tit">2022 하반기 선정과제 2022 하반기 선정과제 2022 하반기 선정과제</div>
                                            <div class="side-nav__date">2023. 10.25</div>
                                        </div>
                                    </a>
                                </div>
                            </aside>
                        </div>
                    </div>
                </main>
                <%- include('./include/footer.html') %>
                <div class="assign_wrap cm">
                    <div class="assign_boxc">
                        <div class="clsbtn_r"></div>
                        <div class="tit sok600">과제응모</div>
                        <ul class="assign_list">
                            <li>
                                <a href="http://www.samsungstf.org:8081" target="_blank">
                                    <span class="ico rico1"></span>
                                    <span class="text sok500">Science</span>
                                </a>
                            </li>

                            <li>
                                <a href="http://www.samsungstf.org:8082" target="_blank">
                                    <span class="ico rico2"></span>
                                    <span class="text sok500">Technology</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="assign_wrap my">
                    <div class="assign_boxc">
                        <div class="clsbtn_r"></div>
                        <div class="tit sok600">로그인</div>
                        <ul class="assign_list">
                            <li>
                                <a href="http://www.samsungstf.org:8081" target="_blank">
                                    <span class="ico rico1"></span>
                                    <span class="text sok500">Science</span>
                                </a>
                            </li>
                            <li>
                                <a href="http://www.samsungstf.org:8082" target="_blank">
                                    <span class="ico rico2"></span>
                                    <span class="text sok500">Technology</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="assign_wrap join">
                    <div class="assign_boxc">
                        <div class="clsbtn_r"></div>
                        <div class="tit sok600">회원가입</div>
                        <ul class="assign_list">
                            <li>
                                <a href="https://www.samsungstf.org:441/memb/user/agreement.do" target="_blank">
                                    <span class="ico rico1"></span>
                                    <span class="text sok500">Science</span>
                                </a>
                            </li>
                            <li>
                                <a href="https://www.samsungstf.org:442/memb/user/agreement.do" target="_blank">
                                    <span class="ico rico2"></span>
                                    <span class="text sok500">Technology</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="cm_search_wrap">
                    <div class="inner">
                        <div class="clsBtn"></div>

                        <div class="searchbox_grid">
                            <form class="_searchForm" method="get" id="cmSearch" name="cmSearch" action="../cm/search.do" onsubmit="return cmSearchCheck()">
                                <div class="cm_search_type">
                                    <div class="opt lab_w185">
                                        <select class="sok400" id="cmSearchCondition" name="cmSearchCondition" value="" onchange="searchCmType()">
                                            <option value="cmFaq">자주묻는 질문</option>
                                            <option value="cmIntro">소개</option>
                                            <option value="cmNewsroom">뉴스</option>
                                            <option value="cmProgram">프로그램</option>
                                            <option value="cmResearcher">과제&amp;연구자</option>
                                            <option value="cmProjectContent">연구내용</option>
                                        </select>
                                    </div>
                                    <div id="toggleCmSearchType" style="display: none">
                                        <div class="opt lab_w185">
                                            <select class="sok400" id="cmsearchType" name="cmsearchType" value="">
                                                <option value="researcherName">연구자</option>
                                                <option value="projectName">연구제목</option>
                                                <option value="program">연구분야</option>
                                                <option value="researchBelong">소속기관</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div id="toggleCmSearchProgramType" style="display: none">
                                        <div class="opt lab_w185">
                                            <select class="sok400" id="cmsearchProgramType" name="cmsearchProgramType" value="">
                                                <option value="1">기초과학</option>
                                                <option value="2">소재</option>
                                                <option value="3">ICT</option>
                                                <option value="4">지정테마</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="searchbox">
                                    <div class="ipt cm_search">
                                        <input class="sok500" placeholder="검색어를 입력하세요." type="text" id="cmSearchKeyword" name="cmSearchKeyword" title="검색" />
                                    </div>
                                    <div class="ipt_cancle">
                                        <a class="cancle" id="cmSearchCancle"></a>
                                    </div>

                                    <div class="ipt_submit">
                                        <button type="submit" class="search_submit"></button>
                                    </div>
                                </div>
                            </form>

                            <div class="linkbox">
                                <p class="tit sok600">링크 바로가기</p>
                                <ul class="linkbox_wrap">
                                    <li><a href="../intro/listFaq.do" title="자주묻는 질문" target="_self">자주묻는 질문</a></li>
                                    <li><a href="../cm/map01.do" title="찾아오시는 길" target="_self">찾아오시는 길</a></li>
                                    <!-- <li><a href="../intro/writeQna.do" title ="1:1문의" target="_self">1:1문의</a></li> -->
                                    <li><a href="../intro/business.do" title="사회공헌사업" target="_self">사회공헌사업</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
