<!DOCTYPE html>
<html lang="ko">
    <%- include('./include/head.html') %>
    <body>
        <div class="wrap">
            <div class="container">
                <%- include('./include/header.html') %>
                <main>
                    <div class="main-kv">
                        <div class="main-kv__slider swiper">
                            <div class="swiper-wrapper">
                                <div class="main-kv__slide swiper-slide">
                                    <img src="../resources/assets/images/main/kv.jpg" alt="" />
                                    <div class="main-kv__text">
                                        <div class="main-kv__white">함께가요 미래로!</div>
                                        <div class="main-kv__blue">Enabling People</div>
                                    </div>
                                </div>
                                <div class="main-kv__slide swiper-slide">
                                    <img src="../resources/assets/images/main/kv.jpg" alt="" />
                                    <div class="main-kv__text">
                                        <div class="main-kv__white">함께가요 미래로!</div>
                                        <div class="main-kv__blue">Enabling People</div>
                                    </div>
                                </div>
                                <div class="main-kv__slide swiper-slide">
                                    <img src="../resources/assets/images/main/kv.jpg" alt="" />
                                    <div class="main-kv__text">
                                        <div class="main-kv__white">함께가요 미래로!</div>
                                        <div class="main-kv__blue">Enabling People</div>
                                    </div>
                                </div>
                                <div class="main-kv__slide swiper-slide">
                                    <img src="../resources/assets/images/main/kv.jpg" alt="" />
                                    <div class="main-kv__text">
                                        <div class="main-kv__white">함께가요 미래로!</div>
                                        <div class="main-kv__blue">Enabling People</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="main-kv__inner">
                            <div class="main-kv__left">
                                <div class="main-kv__count">
                                    <ul>
                                        <li><span>연구과제</span><b>785</b><span>건</span></li>
                                        <li><span>연구비</span><b>10,299</b><span>억원</span></li>
                                    </ul>
                                </div>
                                <div class="main-kv__control">
                                    <div class="progress">
                                        <span class="progress__first"></span>
                                        <span class="progress__bg">
                                            <span class="progress__bar"></span>
                                        </span>
                                        <span class="progress__last"></span>
                                    </div>
                                    <div class="kv-nav">
                                        <ul>
                                            <li><button type="button" class="kv-nav__button kv-nav__button--prev">이전</button></li>
                                            <li><button type="button" class="kv-nav__button kv-nav__button--next">다음</button></li>
                                        </ul>
                                        <button type="button" class="kv-nav__button kv-nav__button--pause">정지</button>
                                    </div>
                                </div>
                            </div>
                            <aside class="side-nav">
                                <nav class="side-nav__menu">
                                    <ul>
                                        <li class="side-nav__info side-nav__info--arrow">
                                            <a href="javascript:;">
                                                <span class="side-nav__title side-nav__title--01">사업소개</span>
                                                <span class="side-nav__arrow"></span>
                                            </a>
                                        </li>
                                        <li class="side-nav__info side-nav__info--arrow">
                                            <a href="javascript:;">
                                                <span class="side-nav__title side-nav__title--02">인사말</span>
                                                <span class="side-nav__arrow"></span>
                                            </a>
                                        </li>
                                        <li class="side-nav__info side-nav__info--arrow">
                                            <a href="javascript:;">
                                                <span class="side-nav__title side-nav__title--03">과제&middot;연구자</span>
                                                <span class="side-nav__arrow"></span>
                                            </a>
                                        </li>
                                    </ul>
                                </nav>
                                <div class="side-nav__info">
                                    <div class="side-nav__title">과제응모</div>
                                    <div class="side-nav__project">
                                        <ul>
                                            <li>
                                                <button type="button">Science</button>
                                            </li>
                                            <li>
                                                <button type="button">Technology</button>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="side-nav__info">
                                    <div class="side-nav__title">공지사항</div>
                                    <a href="javascript:;" class="side-nav-notice">
                                        <div class="side-nav__figure">
                                            <img src="../resources/assets/images/main/notice.png" alt="" />
                                        </div>
                                        <div class="side-nav__text">
                                            <div class="side-nav__tit">2022 하반기 선정과제</div>
                                            <div class="side-nav__date">2023. 10.25</div>
                                        </div>
                                    </a>
                                </div>
                            </aside>
                        </div>
                    </div>
                </main>
                <%- include('./include/footer.html') %>
                <div class="assign_wrap cm">
                    <div class="align_c assign_boxc" style="opacity: 1">
                        <div class="clsbtn_r"></div>
                        <div class="tit sok600">과제응모</div>
                        <ul class="assign_list">
                            <li>
                                <a href="http://www.samsungstf.org:8081" target="_blank">
                                    <span class="ico rico1"></span>
                                    <span class="text sok500">Science</span>
                                </a>
                            </li>

                            <li>
                                <a href="http://www.samsungstf.org:8082" target="_blank">
                                    <span class="ico rico2"></span>
                                    <span class="text sok500">Technology</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="assign_wrap my">
                    <div class="align_c assign_boxc">
                        <div class="clsbtn_r"></div>
                        <div class="tit sok600">로그인</div>
                        <ul class="assign_list">
                            <li>
                                <a href="http://www.samsungstf.org:8081" target="_blank">
                                    <span class="ico rico1"></span>
                                    <span class="text sok500">Science</span>
                                </a>
                            </li>
                            <li>
                                <a href="http://www.samsungstf.org:8082" target="_blank">
                                    <span class="ico rico2"></span>
                                    <span class="text sok500">Technology</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="assign_wrap join">
                    <div class="align_c assign_boxc">
                        <div class="clsbtn_r"></div>
                        <div class="tit sok600">회원가입</div>
                        <ul class="assign_list">
                            <li>
                                <a href="https://www.samsungstf.org:441/memb/user/agreement.do" target="_blank">
                                    <span class="ico rico1"></span>
                                    <span class="text sok500">Science</span>
                                </a>
                            </li>
                            <li>
                                <a href="https://www.samsungstf.org:442/memb/user/agreement.do" target="_blank">
                                    <span class="ico rico2"></span>
                                    <span class="text sok500">Technology</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
