<!DOCTYPE html>
<html lang="ko">
    <%- include('./include/head.html') %>
    <body>
        <div class="wrap">
            <div class="container">
                <%- include('./include/header.html') %>
                <main>
                    <div class="main-kv">
                        <div class="main-kv__slider">
                            <div class="main-kv__slide">
                                <img src="../resources/assets/images/main/kv.jpg" alt="" />
                                <div class="main-kv__text">
                                    <div class="main-kv__white">함께가요 미래로!</div>
                                    <div class="main-kv__blue">Enabling People</div>
                                </div>
                            </div>
                            <div class="main-kv__slide">
                                <img src="../resources/assets/images/main/kv.jpg" alt="" />
                                <div class="main-kv__text">
                                    <div class="main-kv__white">함께가요 미래로!</div>
                                    <div class="main-kv__blue">Enabling People</div>
                                </div>
                            </div>
                            <div class="main-kv__slide">
                                <img src="../resources/assets/images/main/kv.jpg" alt="" />
                                <div class="main-kv__text">
                                    <div class="main-kv__white">함께가요 미래로!</div>
                                    <div class="main-kv__blue">Enabling People</div>
                                </div>
                            </div>
                            <div class="main-kv__slide">
                                <img src="../resources/assets/images/main/kv.jpg" alt="" />
                                <div class="main-kv__text">
                                    <div class="main-kv__white">함께가요 미래로!</div>
                                    <div class="main-kv__blue">Enabling People</div>
                                </div>
                            </div>
                        </div>
                        <div class="main-kv__inner">
                            <div class="main-kv__left">
                                <div class="main-kv__count">
                                    <ul>
                                        <li><span>연구과제</span><b class="cntc counter-value" data-count="785">0</b><span>건</span></li>
                                        <li><span>연구비</span><b class="cntc counter-value" data-count="10299">0</b><span>억원</span></li>
                                    </ul>
                                </div>
                                <div class="main-kv__control">
                                    <div class="progress">
                                        <span class="progress__first"></span>
                                        <span class="progress__bg">
                                            <span class="progress__bar"></span>
                                        </span>
                                        <span class="progress__last"></span>
                                    </div>
                                    <div class="kv-nav">
                                        <ul>
                                            <li><button type="button" class="kv-nav__button kv-nav__button--prev">이전</button></li>
                                            <li><button type="button" class="kv-nav__button kv-nav__button--next">다음</button></li>
                                        </ul>
                                        <button type="button" class="kv-nav__button kv-nav__button--pause">정지</button>
                                    </div>
                                </div>
                            </div>
                            <aside class="side-nav">
                                <nav class="side-nav__menu">
                                    <ul>
                                        <li class="side-nav__info side-nav__info--arrow">
                                            <a href="javascript:;">
                                                <span class="side-nav__title side-nav__title--01">사업소개</span>
                                                <span class="side-nav__arrow"></span>
                                            </a>
                                        </li>
                                        <li class="side-nav__info side-nav__info--arrow">
                                            <a href="javascript:;">
                                                <span class="side-nav__title side-nav__title--02">인사말</span>
                                                <span class="side-nav__arrow"></span>
                                            </a>
                                        </li>
                                        <li class="side-nav__info side-nav__info--arrow">
                                            <a href="javascript:;">
                                                <span class="side-nav__title side-nav__title--03">과제&middot;연구자</span>
                                                <span class="side-nav__arrow"></span>
                                            </a>
                                        </li>
                                    </ul>
                                </nav>
                                <div class="side-nav__info">
                                    <div class="side-nav__title">과제응모</div>
                                    <div class="side-nav__project">
                                        <ul>
                                            <li>
                                                <a href="https://www.samsungstf.org:441/main/login/openLogin.do" target="_blank">Science</a>
                                            </li>
                                            <li>
                                                <a href="https://www.samsungstf.org:442/main/login/openLogin.do" target="_blank">Technology</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="side-nav__info">
                                    <div class="side-nav__title">공지사항</div>
                                    <a href="javascript:;" class="side-nav__notice">
                                        <div class="side-nav__figure">
                                            <img src="../resources/assets/images/main/notice.png" alt="" />
                                        </div>
                                        <div class="side-nav__text">
                                            <div class="side-nav__tit">2022 하반기 선정과제</div>
                                            <div class="side-nav__date">2023. 10.25</div>
                                        </div>
                                    </a>
                                </div>
                            </aside>
                        </div>
                    </div>
                </main>
                <%- include('./include/footer.html') %>
                <div class="sitemap_wrap bg">
                    <div class="inner_cr">
                        <div class="hdsc">
                            <a href="/ssrfPr/main/main.do" class="logo_stmap">
                                <img src="../resources/assets/images/common/logo_d.png" title="삼성미래기술" />
                            </a>
                            <div class="clsbtn_st"></div>
                        </div>

                        <div class="stmap_list">
                            <dl class="sok400">
                                <dt class="sok600">사업소개</dt>
                                <dd><a href="../intro/business.do">사회공헌사업</a></dd>
                                <dd><a href="../intro/message.do">인사말 &amp; 운영</a></dd>
                                <!-- <dd><a href="../intro/status.do">지원 현황</a></dd> -->
                                <dd><a href="../intro/listFaq.do">FAQㆍ문의</a></dd>
                                <dd><a href="../cm/map01.do">찾아오시는길</a></dd>
                            </dl>
                            <dl class="sok400">
                                <dt class="sok600">공모분야/과제응모</dt>
                                <!--
            <dd><a href="../program/basic.do">기초과학</a></dd>
            <dd><a href="../program/material.do">소재</a></dd>
            <dd><a href="../program/ict.do">ICT</a></dd>
            <dd><a href="../program/theme.do">지정테마</a></dd>
            -->
                                <dd><a href="../program/basic.do">Science</a></dd>
                                <dd><a href="../program/material.do">Technology</a></dd>
                                <dd><a href="#" class="cm_assignBtn">과제응모</a></dd>
                            </dl>
                            <dl class="sok400">
                                <dt class="sok600">선정과제</dt>
                                <dd><a href="../researcher/listResearcher.do">전체</a></dd>

                                <!--
            <dd><a href="../researcher/listResearcher.do?searchResearchProgram=1|0001">기초과학</a></dd>
            <dd><a href="../researcher/listResearcher.do?searchResearchProgram=2|0002">소재</a></dd>
            <dd><a href="../researcher/listResearcher.do?searchResearchProgram=3|0003">ICT</a></dd>
            <dd><a href="../researcher/listResearcher.do?searchResearchProgram=4|0004">지정테마</a></dd>
            -->

                                <dd><a href="../researcher/listResearcher.do?searchResearchProgram=1|0001">Science</a></dd>
                                <dd><a href="../researcher/listResearcher.do?searchResearchProgram=2|0002">Technology</a></dd>
                            </dl>
                            <dl class="sok400">
                                <dt class="sok600">공지사항</dt>
                                <!-- <dd><a href="../newsroom/listNewsroom.do?searchGubun=A">공지 & 뉴스</a></dd>
            <dd><a href="../newsroom/listNewsletter.do">뉴스레터</a></dd> -->
                                <dd><a href="../newsroom/listNewsroom.do?searchGubun=A">주요일정</a></dd>
                                <dd><a href="../newsroom/listNewsroom.do?searchGubun=C">선정결과</a></dd>
                                <dd><a href="../newsroom/listNewsroom.do?searchGubun=G">경영공시</a></dd>
                                <!-- <dd><a href="../newsroom/listLibrary.do">라이브러리</a></dd> -->
                            </dl>
                        </div>

                        <div class="stmap_side">
                            <ul class="sok500">
                                <li><a href="../cm/terms02.do">개인정보처리방침</a></li>
                                <li><a href="../cm/terms03.do">이메일무단수집거부</a></li>
                                <li><a href="../cm/terms01.do">이용약관</a></li>
                                <li><a href="../cm/map01.do">찾아오시는 길</a></li>
                            </ul>
                        </div>

                        <div class="stmap_obj01 moveObj_A"></div>
                        <div class="stmap_obj02 moveObj_sub2"></div>
                        <div class="stmap_obj03"></div>

                        <div class="stmap_obj04 moveObj_sub2"></div>
                        <div class="stmap_obj05"></div>
                        <div class="stmap_obj06 moveObj_A"></div>
                    </div>
                </div>
                <div class="assign_wrap cm">
                    <div class="align_c assign_boxc">
                        <div class="clsbtn_r"></div>
                        <div class="tit sok600">과제응모</div>
                        <ul class="assign_list">
                            <li>
                                <a href="http://www.samsungstf.org:8081" target="_blank">
                                    <span class="ico rico1"></span>
                                    <span class="text sok500">Science</span>
                                </a>
                            </li>

                            <li>
                                <a href="http://www.samsungstf.org:8082" target="_blank">
                                    <span class="ico rico2"></span>
                                    <span class="text sok500">Technology</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="assign_wrap my">
                    <div class="align_c assign_boxc">
                        <div class="clsbtn_r"></div>
                        <div class="tit sok600">로그인</div>
                        <ul class="assign_list">
                            <li>
                                <a href="http://www.samsungstf.org:8081" target="_blank">
                                    <span class="ico rico1"></span>
                                    <span class="text sok500">Science</span>
                                </a>
                            </li>
                            <li>
                                <a href="http://www.samsungstf.org:8082" target="_blank">
                                    <span class="ico rico2"></span>
                                    <span class="text sok500">Technology</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="assign_wrap join">
                    <div class="align_c assign_boxc">
                        <div class="clsbtn_r"></div>
                        <div class="tit sok600">회원가입</div>
                        <ul class="assign_list">
                            <li>
                                <a href="https://www.samsungstf.org:441/memb/user/agreement.do" target="_blank">
                                    <span class="ico rico1"></span>
                                    <span class="text sok500">Science</span>
                                </a>
                            </li>
                            <li>
                                <a href="https://www.samsungstf.org:442/memb/user/agreement.do" target="_blank">
                                    <span class="ico rico2"></span>
                                    <span class="text sok500">Technology</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="cm_search_wrap">
                    <div class="inner">
                        <div class="clsBtn"></div>

                        <div class="searchbox_grid">
                            <form class="_searchForm" method="get" id="cmSearch" name="cmSearch" action="../cm/search.do" onsubmit="return cmSearchCheck()">
                                <div class="cm_search_type">
                                    <div class="opt lab_w185">
                                        <select class="sok400" id="cmSearchCondition" name="cmSearchCondition" value="" onchange="searchCmType()">
                                            <option value="cmFaq">자주묻는 질문</option>
                                            <option value="cmIntro">소개</option>
                                            <option value="cmNewsroom">뉴스</option>
                                            <option value="cmProgram">프로그램</option>
                                            <option value="cmResearcher">과제&amp;연구자</option>
                                            <option value="cmProjectContent">연구내용</option>
                                        </select>
                                    </div>
                                    <div id="toggleCmSearchType">
                                        <div class="opt lab_w185">
                                            <select class="sok400" id="cmsearchType" name="cmsearchType" value="">
                                                <option value="researcherName">연구자</option>
                                                <option value="projectName">연구제목</option>
                                                <option value="program">연구분야</option>
                                                <option value="researchBelong">소속기관</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div id="toggleCmSearchProgramType">
                                        <div class="opt lab_w185">
                                            <select class="sok400" id="cmsearchProgramType" name="cmsearchProgramType" value="">
                                                <option value="1">기초과학</option>
                                                <option value="2">소재</option>
                                                <option value="3">ICT</option>
                                                <option value="4">지정테마</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="searchbox">
                                    <div class="ipt cm_search">
                                        <input class="sok500" placeholder="검색어를 입력하세요." type="text" id="cmSearchKeyword" name="cmSearchKeyword" title="검색" />
                                    </div>
                                    <div class="ipt_cancle">
                                        <a class="cancle" id="cmSearchCancle"></a>
                                    </div>

                                    <div class="ipt_submit">
                                        <button type="submit" class="search_submit"></button>
                                    </div>
                                </div>
                            </form>

                            <div class="linkbox">
                                <p class="tit sok600">링크 바로가기</p>
                                <ul class="linkbox_wrap">
                                    <li><a href="../intro/listFaq.do" title="자주묻는 질문" target="_self">자주묻는 질문</a></li>
                                    <li><a href="../cm/map01.do" title="찾아오시는 길" target="_self">찾아오시는 길</a></li>
                                    <!-- <li><a href="../intro/writeQna.do" title ="1:1문의" target="_self">1:1문의</a></li> -->
                                    <li><a href="../intro/business.do" title="사회공헌사업" target="_self">사회공헌사업</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
